* {
    font-family: "Times New Roman", sans-serif;
    background-color: red;
    margin: 10px;
}

body {
    background-color: black;
}

h1 {
    font-weight: 800;
    color: white;
    text-align: center;
    margin: 10px;
}

ul, ol, li, a {
    background-color: white;
}

.odd {
    font-weight: 800;
}

h3 {
    background-color: black;
    color: white;

}